@import "normalize";

html {
  background-color: #f15a24;
  color: #fff;
}

a {
  color: #fff;
}

.container {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: .5em 2em;
  text-align: center;

  img {
    margin-top: 1em;
  }
}
