@import "normalize";

$padding: 1em;
$border: 1px solid #ffffff;
$shadow: -3px 4px #802100;

/**
# SHARED STYLES
**/

html, body {
	height: 100vh;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #E9501E;
	color: #ffffff;
	font-size: 8pt;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
}

.logo {
	max-width: 150px;
}

.button {
	display: block;
	background-color: #AF2C00;
	border: none;
	width: 100%;
	margin: .2em 0;
	padding: 15px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;

	&:disabled {
		opacity: .5;
	}
}

/**
* NO JAVASCRIPT
**/

.page {
	display: none;

	&::before {
		position: fixed;
		left: $padding;
		right: $padding;
		top: 0;
		height: $padding;
		display: block;
		content: "";
		border-bottom: 1px solid #ffffff;
		background-color: #E9501E;
		z-index: 999;
	}

	&::after {
		position: fixed;
		left: $padding;
		right: $padding;
		bottom: 0;
		height: $padding;
		display: block;
		content: "";
		border-top: 1px solid #ffffff;
		background-color: #E9501E;
		z-index: 999;
	}
}

#js-error {
	padding-top: 45vh;
	text-align: center;
}

.js #js-error {
	display: none;
}

#welcome {
	
	// height: 100vh;
	padding: $padding;

	.welcome-inner {
		padding: $padding 0 0 0;
		// height: 100%;

		.welcome-text {
			margin-top: 3em;
		}

		.welcome-buttons {
			position: absolute;
			left: $padding;
			right: $padding;
			bottom: $padding *2;

			text-align: center;
		}
	}
}

#privacy {
	padding: $padding;

	.privacy-inner {
		padding: $padding 0 $padding 0;

		h3 {
			margin-bottom: 3px;
		}
	
		p {
			margin-top: 0;
		}
	}
}

/**
* DESKTOP
**/

@media only screen and (min-device-width: 1024px) {
	body {
		font-size: 15pt;
	}

	#welcome {
	
		.welcome-inner {
			
			.welcome-text {
				width: 75%;
				max-width: 1000px;
			}
		}
	}

	#privacy {
	
		.privacy-inner {
			
			width: 75%;
		}
	}
}