
/* Import the base styles */

@import "reset";
@import "typography";

/* variables */

$orange:		#f15a24;
$mid-orange:	#d84f2e;
$dark-orange: 	#c14629;
$font-size:		30px;
$line-height:	40px;

/* Clear default form styles */

input:focus,
select:focus,
button:focus {
	outline: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

/* Setup the specific styles */

img.logo {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	padding: 30px;
	display: block;
}


.main_wrapper {
	padding: 30px;
	max-width: 980px;
	margin: 0 auto 30px auto;
}

.main_wrapper h1,
.main_wrapper h2 {
	text-align: center;
	margin-bottom: 30px;
}

.main_wrapper p {
	font-size: $font-size;
	line-height: $line-height;
}

.main_wrapper input[type="text"] {
	width: 300px;
	font-size: $font-size;
	line-height: $line-height;
	border: none;
	border-bottom: 2px solid;
	background: none;
	color: #fff;
}

.main_wrapper select {
	font-size: $font-size;
	line-height: $line-height;
	border: none;
	border-bottom: 2px solid;
	background: none;
	color: #fff;
}

.main_wrapper input[type="submit"] {
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: none;
	padding: 1em 2em;
	color: #fff;
	background-color: $dark-orange;
	display: block;
	margin: 30px auto 0 auto;
	cursor: pointer;
}

.main_wrapper input[type="text"].error {
	border-bottom-color: #000;
}


.fixed_footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px;
	font-size: 12px;
	line-height: 12px;
	background-color: $mid-orange;
}

.fixed_footer #copy {
	float: left;
	margin-bottom: 0;
}

.fixed_footer #info {
	float:right;
	text-align: right;
	margin-bottom: 0;
}